/* MainContent styles */
.main-content {
    background-color:#8d7bbe;
  }
  
  .content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-container {
    flex: 1; /* Take up half of the container's width */
  }
  
  .background-image {
    background-image: url('https://as2.ftcdn.net/v2/jpg/04/34/13/23/1000_F_434132339_kLlZju6txK6aMP2Zlwoy7vuK2Srgd01D.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .content-card {
    background-color:#eceaf1;
    padding: 20px;
    border-radius: 8px;
   
    flex: 1; /* Take up half of the container's width */
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
  }
  
  .content-card h2 {
    margin-bottom: 10px;
  }
  
  .content-card p {
    font-size: 16px;
    line-height: 2.3;
  }
  .learn-button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .learn-button:hover {
    background-color: #e67e22;
  }
  